# esse arquivo aqui é um exemplo de arquivo de variáveis de ambiente. 
# Para utilizá-lo e utilizar a api de fato, você deve criar um arquivo chamado `.env` na raiz do seu projeto e copiar o conteúdo deste arquivo para lá. 
# Em seguida, substitua `coloque_sua_chave_aqui` pela sua chave de API do serviço de notícias.
# Env NUNCA deve ser comitado no repositório, pois contém informações sensíveis, por isso estou corrgindo isso.

NEWS_API_KEY=coloque_sua_chave_aqui